<div class="container mt-4">
  <div class="row mb-4">
    <!-- Columna del formulario -->
    <div class="col-md-8">
      <h5 class="mb-4">Listado de Videojuegos</h5>
        <p>Top {{ topX }}</p>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="topInput" class="form-label">Ingrese el top que desea:</label>
            </div>
            <div class="col-auto">
                <input type="number" 
                       class="form-control" 
                       id="topInput" 
                       min="1" 
                       [(ngModel)]="inputValue" 
                       [value]="topX">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" (click)="updateTopX()">Enviar</button>
            </div>
        </div>
    </div>
    
    <!-- Columna de la imagen -->
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="videogames.jpg"
      alt="Imagen de Videojuegos" 
      class="img-fluid rounded" 
      style="width: 25vw; height: auto;">
    </div>
  </div>
  
  <div class="border rounded-3 overflow-hidden">
      <table class="table table-striped table-hover mb-0 text-center">
          <thead class="table-purple align-middle">
              <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Name</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Year</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">NA Sales (millions)</th>
                  <th scope="col">EU Sales (millions)</th>
                  <th scope="col">JP Sales (millions)</th>
                  <th scope="col">Other Sales (millions)</th>
                  <th scope="col">Global Sales (millions)</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
              <tr *ngFor="let game of videogames">
                  <td>{{ game.rank }}</td>
                  <td>{{ game.name }}</td>
                  <td>{{ game.platform }}</td>
                  <td>{{ game.year }}</td>
                  <td>{{ game.genre }}</td>
                  <td>{{ game.publisher }}</td>
                  <td>{{ game.na_Sales }}</td>
                  <td>{{ game.eu_Sales }}</td>
                  <td>{{ game.jp_Sales }}</td>
                  <td>{{ game.other_Sales }}</td>
                  <td>{{ game.global_Sales | number:'1.2-2' }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>